<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.example.studentscoreinfo.mapper.ClassInfoMapper">

        <insert id="addClassInfo" parameterType="ClassInfo">
            insert into sclassinfo (gradeid, sclass, remark, isDelete) values (
            #{gradeid}, #{sclass}, #{remark}, #{isDelete}
            )
        </insert>

        <update id="updateClassInfo" parameterType="ClassInfo">
            update sclassinfo
            <set>
                <if test="gradeid!=null and gradeid!=''">
                    gradeid = #{gradeid},
                </if>
                <if test="sclass!=null and sclass!=''">
                    sclass = #{sclass},
                </if>
                <if test="remark!=null and remark!=''">
                    remark = #{remark},
                </if>
                <if test="isDelete!=null and isDelete!=''">
                    isDelete = #{isDelete}
                </if>
            </set>
            where id = #{id}
        </update>

        <select id="findAll" resultType="ClassInfo">
            select * from sclassinfo where isDelete=0
        </select>

        <select id="findByGrade" resultType="ClassInfo" parameterType="GradeInfo">
            select s.id, s.gradeid, s.sclass, s.remark, s.isDelete
            from sclassinfo as s, gradeinfo as g
            where s.gradeid = g.id and g.sgrade = #{sgrade}
        </select>

        <select id="findByParameter" resultType="Map">
            select * from sclassinfo
            <where>
                <if test="gradeid!=null and gradeid!=''">
                    and gradeid = #{gradeid}
                </if>
                <if test="sclass!=null and sclass!=''">
                    and sclass = #{sclass}
                </if>
                <if test="remark!=null and remark!=''">
                    and remark like "%"#{remark}"%"
                </if>
                and isDelete=0
            </where>
            order by id desc
        </select>

    </mapper>
